src/main/mule/demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="97f920d5-e54e-4578-84d9-0302d8216352" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="6859317e-05b9-466b-a3a7-a50859c7cd17" >
		<http:request-connection host="localhost" port="502" />
	</http:request-config>
	<flow name="demoFlow" doc:id="76ad2607-c45a-4ce4-a6a3-927ec6694089" >
		<http:listener doc:name="Listener" doc:id="2bcb83d9-46c2-4fa5-8c5a-bfd6894d42b4" config-ref="HTTP_Listener_config" path="/api">
		</http:listener>
		<set-payload value="#['Rasool']" doc:name="Set Payload" doc:id="a25ee841-be96-4272-95c3-236279283cf3" />
		<logger level="INFO" doc:name="Logger" doc:id="846b33a4-efaf-46bf-be14-93fea3bf727d" message="payload :: #[payload]"/>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="83cd5f8a-1427-4560-bf93-8b48a5ade23c" >
				<set-payload value="#['Error']" doc:name="Set Payload" doc:id="33c71fae-7f7b-4168-ab86-4740e4581ad6" />
				<logger level="INFO" doc:name="Logger" doc:id="74cd3cb1-b456-42f5-adfb-bdbc33816f11" message="error parent flow" />
			</on-error-continue>
		
</error-handler>
	</flow>
	</mule>
